button{
    background-color: blueviolet;
    color: aquamarine;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    transition:0.3s ease ;
}   

button:hover {
    background-color: yellow;
}

button:focus {
    outline: 3px solid;
    outline-offset: 2px ;
}
button:active {
    background-color: tomato;
}