/* @import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap'); */
 button {
      background-color: #007BFF;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    button:hover {
      background-color: #0056b3;
    }
    button:active {
      background-color: #003d80;
    }

*{
    margin: 0;
    padding: 0;
}

h1{
    /*propiedad y un valor */
    color: red;

}
/* h2{

}

.color-h2{
    color: violet;
}

.color-h2{
    color: green;
}
#color-definitivo{
    color: aqua;
}

/* selectores por etiqueta, */
/* main{
    background-color: red;
} */

/* body{
    background-color: aqua; */
*/
ul li{
    list-style: none;
}

h2{
    color: blue;
    text-align: center;
}
main h2{
    color: red;
}
main p{
    color: pink;
}
main segundo-subitulo{
    color: red;
}

main{
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 400;
    font-style: italic;
}
