

.box {
margin: 50px;
width: 120px;
height: 120px;
background: teal;
/* transform:translatex(50px) ; */
transform: rotateY(45deg)rotatex(20deg);
transition: 0.5s;
}
.box:hover{
    transform: rotateY(0deg) rotateX(0deg);
}

.cube{
    margin: 100px;
    background-color: aqua;
    width: 6rem;
    height: 6rem;
    position: relative;
    transform-style: preserve-3d;
    /*PROPIEDADES DE LA ANIMACION*/
    animation-name: rotatecube;     /*nombre de los keyframes*/
    animation-duration: 3s;         /*duracion total*/
    animation-timing-function: linear;  /*velocidad constante*/
    animation-delay: 1s;            /*espera antes de iniciar*/
    animation-iteration-count: infinite; /*repeticion infinita*/
    animation-direction: alternate; /*va y vuelve*/
    animation-fill-mode: forwards;  /*mantiene el ultimo estado*/
    animation-play-state: running;  /*controla si la animacion corre o esta puasada*/
}
/*DEFINICION DE LOS KEYFRAMES*/
@KEYFRAMES rotatecube {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    10% {
        transform: rotateX(45deg) rotateY(45deg);
        background-color: rgb(205, 74, 217);
    }
    25% {
        transform: rotateX(90deg) rotateY(90deg);
        background-color: aqua;
    }
    50% {
        transform: rotateX(180deg) rotateY(180deg);
        background-color: red;
    }
    75% {
        transform: rotateX(270deg) rotateY(270deg);
        background-color: yellow;
    }
    100% {
        transform: rotateX(360%) rotateY(360%);
        background-color: green;
    }
}

.cube-2 {
    margin: 100px;
    background-color: aqua;
    width: 6rem;
    height: 6rem;
    position: relative;
    transform-style: preserve-3d;
  animation: rotatecube 5s linear 1s infinite alternate forwards running;
  @KEYFRAMES rotatecube {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }
    10% {
        transform: rotateX(45deg) rotateY(45deg);
        background-color: rgb(205, 74, 217);
    }
    25% {
        transform: rotateX(90deg) rotateY(90deg);
        background-color: aqua;
    }
    50% {
        transform: rotateX(180deg) rotateY(180deg);
        background-color: red;
    }
    75% {
        transform: rotateX(270deg) rotateY(270deg);
        background-color: yellow;
    }
    100% {
        transform: rotateX(360%) rotateY(360%);
        background-color: green;
    }
}
}