h1 {
    background-image: linear-gradient(to left, white, black);
    background-image: linear-gradient(to bottom, aqua, rgb(13, 183, 183));
}

h1:hover {
    transform: translateX(50px);
}

div { 
    width:300px ;
    height:400px ;
    background-image: radial-gradient(ellipse 100px 250px, yellow, green);
}
div:hover{
    transform: rotate(90deg);
}